
@media screen {
    @import "bootstrap/bootstrap.less"; 
    @import "bootstrap/responsive.less";
    @import "timeline/timeline-custom.less";
    @import "colorpicker.css";

    body {
      padding-top: 60px; 
      padding-bottom: 40px; 
    }
}
 
@import "annotations/style.less";

/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */











