@import "bootstrap/bootstrap.less"; 

body {
  padding-top: 60px; 
  padding-bottom: 40px; 
}
 
@import "timeline/timeline-custom.less";
@import "colorpicker.css";
@import "bootstrap/responsive.less";
@import "annotations/style.less";


/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */











