@import "timeline/timeline.css";
.item-id,
.group-id,
.timeline-navigation-new {
  display: none;
}
div.timeline-event {
  background-color: rgba(249, 103, 38, 0.6);
}
div.timeline-event-selected {
  background-color: rgba(245, 215, 115, 0.75);
}
div.timeline-groups-text {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 1.05em;
}
div.timeline-navigation {
  position: relative;
  bottom: 0px;
  right: 0px;
  height: 35px;
}
