/**
 * Style for annotate view
 */

@import "variables.less";

// Set of color for the whole annotate view
@colorOne: #E3E3E3;
@colorTwo: lighten(@colorOne,20%); 

#annotate-form{
    
    padding: 5px;
    
    div{
        padding: 5px;
        text-align: center;
    }
    
    .currentTrack{
        text-align: left; 
        
        span.title{
            font-weight: bold;
        }
    }
    
    .insert-fields, .stop-fields{
        display: inline-block;
    }

    #input-container{

        width: 100%;
        text-align: left;

        #new-annotation{
            width: 68%;
            margin-bottom: -0.5px;
            margin-left: -4px;
            margin-right: -4px;
        }
        
    }

    #editSwitch{
        float: right;
        margin-right: 20px;
    }
}

#annotate-container{ 
    .navbar{
        margin-bottom: 0px;
    }

    h3{
        line-height: 18px;
        padding-top: 8px;
        padding-right: 8px;
    }

    #label-tabs-contents div{
        padding: 0px;

        &.carousel{
            
            .category-item{ 
                height: 100%;

                .catItem-header{

                    input{
                        width: 80px;
                        border: none;
                        margin: 0px;
                        padding: 1px;
                        font-size: 14px;
                        border-radius: 4px;
                        box-shadow: inset -1px 1px 3px black;
                        font-weight: bold;
                        
                        &[disabled]{
                            widows: 100px;
                            box-shadow: none;
                            text-shadow: 1px 1px 1px black;
                            background: none;
                            color: white;
                            cursor: default;
                        }
                    }

                    .colorPicker-picker{
                        display: inline-block;
                    }

                    padding: 5px;
                    font-size: 14px;
                    background-color: @colorOne;
                    text-shadow: 1px 1px 1px black;
                    font-weight: bold;
                    border-radius: 4px 4px 0px 0px;
                    color: white;
                }

                .label-item{
                    @labelPadding: 3px;
                    padding: @labelPadding;
                    background-color: @colorTwo;
                    margin-top: 2px;
                    height: 16px;

                    .item-abbreviation{
                        float:left;
                        padding: @labelPadding;
                        font-weight: bold;
                    }

                    .item-value{
                        float:left;
                        padding: @labelPadding;
                    }

                    .item-icon{
                        float: right;
                    }

                    &:last-child{
                        border-radius: 0px 0px 4px 4px;
                    }

                    &:hover{
                        cursor: pointer;
                        background-color: darkGray;
                        color: white;
                        .box-shadow(0px,0px,4px,darken(@colorOne,30%));
                        .inset-box-shadow(0px,0px,4px,darken(@colorOne,50%));
                    }
                }
            }

            height: 200px;
            overflow: scroll;

        }

        div.pagination{
            margin: 10px;
            height: 0px;

            a{
                line-height: 24px;
            }
        }

    }
}

.edit{
    visibility: hidden;
}

.edit-on{
    .edit{
        visibility: visible;
    }

    i.edit{ 
        border-radius: 2px;
        background-color: white;
        border: 1px solid white;
        margin-left: 5px;
    }
}

.notrack{
    color: red;
    font-weight: bold; 
} 