/**
 * Style for annotations list
 */

@import "variables.less";

#list-container{
    div.annotation{
        .standard_border_radius;
        background-color: darken(#F5F5F5, 7%);
        margin: 5px;
        padding: 5px;
        
        i.delete{
            float: right;
            
            
            &:hover{
                background-color: lighten(red,20%);
                border-radius: 10px 10px 10px 10px;
            }
        }
        
        i.jump-to:hover{
           background-color: lighten(#66A3D2,10%); 
        }
        
        .start,.duration{
            border-radius: 3px 3px 3px 3px;
            background-color: darken(#F5F5F5, 30%);
            padding: 2px;
            margin: 1px;
            color: white;
            font-family: monospace;
            /*border: 1px solid darken(#F5F5F5, 30%);*/
            .box-shadow(0px,0px,4px,darken(#F5F5F5,30%));
            .inset-box-shadow(0px,0px,4px,darken(#F5F5F5,50%));
        }
        
        span.text{
            display: block;
            margin: 5px 2px 2px 2px;
            padding: 4px;
            border-radius: 3px 3px 3px 3px;
            background-color: white;
            .box-shadow(0px,0px,4px,darken(#F5F5F5,30%));
        }
        
        .category{
            border-radius: 3px 3px 3px 3px;
            background-color: orange;
            color: white;
            padding: 2px;
            font-size: 0.90em;
        }
    }
}