/**
 * Style for annotations list
 */

@import-once "variables.less";
 

#list-container{

    overflow: auto;
    
   	@min-height: 300px;
    
    &.expanded {
    	min-height: @min-height;
    }

    #content-list{
        overflow: auto;
       	min-height: @min-height;
    }
    
    a.proxy-anchor{
        display: none;
    }

    i.check{
        visibility: hidden;
    }

    .checked i.check{
        visibility: visible;
    }
    
    div.annotation{
        background-color: @white;
        border-bottom: 2px solid @grayDark;

        
        &:hover{
            cursor: pointer;   
        }

        .edit {
            display: none;
            visibility: hidden;
        }

        .read-only {
            display: inline-block;
        }

        button.in {
            margin-right: -4px;
        }

        &.edit-on {

            i.toggle-edit{

                .icon-remove(); 
            }

            span.label {
                display: block;
                height: 20px;
                line-height: 20px;
            }

            .edit {
                display: inline-block;
                visibility: visible;

                span.freetext textarea{
                    //display: block;
                }

            }

            .read-only {
                display: none;
            }
        	}
        
        i{    
            &.delete, &.toggle-edit{
               float: right; 
               visibility: visible;
            }
            
            &:hover{
            	.iconHover();
            }
        }
        

				@headerHeight: 18px;
				@headerPadding: 2px;					        
      
				.header {
						margin: 0;
						height: @headerHeight + 2*@headerPadding;
						padding: 0 5px 0 0;
		        background-color: @grayLighter;
					
						i, a {
							margin: @headerPadding @headerPadding 0 0;
						}
				}	
					
				.start,.end{
					cursor: text;
					background-color: fade(@white,60%);
					height: @headerHeight;
					padding: @headerPadding;
					display: inline-block;
					position: relative;
					color: @black;
								
					input{
						width: 65px;
						border: none;
						position: relative;
						z-index: 300;
						padding: 0;
						margin: 0;
						box-shadow: none;
						color: @black;
	
						&[disabled] {
							z-index: 100;
							border: none;
							background: none;
							cursor: text;
						}
	
						&.error {
							color: @red;
							font-weight: bold;
						}
					}
	
					.start-btn, .end-btn {
						position: absolute;
						left: 0%;
						right: 0%;
						top:0;
						z-index: 150;
						width: 65px;
						height: @headerHeight;
					}
				}
			
        .collapse i{
            float: left;
            margin-right: 5px;
            margin-left: 5px;
        }
        
        span.text{
            display: block;
            margin: 5px;
            background-color: white;
        }
        
        span.category{
            overflow: hidden;
            height: 1.25em;
            width: 35%;
            display: inline-block;
            text-overflow: ellipsis; 
            	color: @gray;
                 
            
            span.abbreviation {
            	color: @black;
            	font-weight: bold;
            	}               
        }

        span.label {
        		display:none;
          	font-size: inherit;
          	margin: 5px;
          	font-weight: normal;

          	span.label-abr{
            	font-weight: bold;
          	}
        }


        span.freetext {
            textarea {
                width: 97.5%;
            }
        }

        span.scaling{

            select {
                width: 50px;
								height: @headerHeight;
								padding: @headerPadding;
								margin: 0;
								font-size: 0.85em;
                color: @white;
                background-color: @black;
								border: none;                
					  }

            span {
                background-color: @black;
                color: @white;
								height: @headerHeight;
								padding: @headerPadding;                
                font-weight: bold;
                width: @headerHeight;
                display: inline-block;
                text-align: center;
            }
        }
        
        span.track{
        	display:none;
          background-color: lighten(#005580,20%);
          color: white;
          padding: 3px;
          font-size: 0.90em;  
        }
        
        span.user{
        	display:none;
          font-style: italic;
          font-weight: bold;
        }
        
        &.selected { 

        	.header{
        		background-image: url("../img/annotation/pattern.png");
        		background-repeat: repeat-x;
        		background-position: top;
        	}
        }
    }

    i.add-comment {
      float: right;
    }
    div.comments-container {
      background-color: @grayLighter;
      padding: 5px;
      color: @black;
      
      span.text {
      	background-color: transparent;
      	margin: 5px 0;
      }     
    }

    .comments-container.collapse {
      padding: 0px;
    }

    span.comments {
      padding: 2px;
      font-size: 0.90em;
    }
    i.delete-comment {
      float: right;
      margin-left: 5px;
    }
    i.edit-comment {
      float: right;
      margin-left: 5px;
    }

}

.collapse-comment i {
  float: left;
  margin-right: 5px;
}
.collapse-comment {
  -webkit-transition: height 0.35s ease;
  -moz-transition: height 0.35s ease;
  -ms-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease;
  position: relative;
  overflow: hidden;
  height: 0;
}
.collapse-comment.in {
  height: auto;
}