/**
 * Style for annotations list
 */

@import "variables.less";
 
@color1: #F5F5F5; /* dark grey */

#list-container{

    overflow: auto;
    min-height: 80px;

    #content-list{
        overflow: auto;
    }
    
    a.proxy-anchor{
        display: none;
    }

    i.check{
        visibility: hidden;
    }

    .checked i.check{
        visibility: visible;
    }
    
    div.annotation{
        .standard_border_radius;
        background-color: darken(@color1, 7%);
        margin: 5px;
        padding: 5px;
        
        &:hover{
            cursor: pointer;   
            box-shadow: inset 0px 0px 12px black; 
        }

        .edit {
            display: none;
            visibility: hidden;
        }

        .read-only {
            display: inline-block;
        }

        &.edit-on {

            i.toggle-edit{

                &:before {
                    content: "save";
                    margin-left: -25px;
                    background-color: white;
                    padding: 2px;
                    border-radius: 4px;
                    border: 1px solid grey;
                    font-style: normal;
                    display: block;
                    box-shadow: inset 0px -1px 2px black;
                }

                &:hover:before {
                    background-color: lighten(grey, 20%);
                }
            }

            span.label {
                display: block;
                height: 20px;
                line-height: 20px;
            }

            .edit {
                display: inline-block;
                visibility: visible;

                span.freetext textarea{
                    //display: block;
                }

            }

            .read-only {
                display: none;
            }

            .scaling:before {
                content: "Scale value:";
                margin-right: 2px;
            }
        }
        
        i{    
            &.delete, &.toggle-edit{
               float: right; 
               visibility: visible;
            }
            
            &:hover{
                cursor: pointer;
                background-color: lighten(#66A3D2,10%); 
            }
        }
        
        .start,.end{
            cursor: text;
            border-radius: 3px 3px 3px 3px;
            background-color: darken(@color1, 30%);
            padding: 2px;
            margin: 1px;
            color: white;
            font-family: monospace;
            .box-shadow(0px,0px,4px,darken(@color1,30%));
            .inset-box-shadow(0px,0px,4px,darken(@color1,50%));
            position: relative;
            width: 65px !important;
            height: 18px;
            display: inline-block;

                input{
                    margin: 1px;
                    width: 65px !important;
                    padding: 1px;
                    margin: 1px;
                    border: none;
                    font-family: monospace;
                    position: relative;
                    height:18px;
                    z-index: 300;

                    &[disabled] {
                        z-index: 100;
                        border: none;
                        background: none;
                        box-shadow: none;
                        cursor: text;
                        margin: 1px;
                        color: white;
                    }

                    &.error {
                        color: red;
                        font-weight: bold;
                    }
                }

                .start-btn, .end-btn {
                     position: absolute;
                     left: 0%;
                     right: 0%;
                     top:0;
                     z-index: 150;
                     width: 65px;
                     height: 20px;
                }
        }

        .collapse i{
            float: left;
            margin-right: 5px;
            margin-left: 5px;
        }
        
        span.text{
            display: block;
            margin: 5px 2px 2px 2px;
            padding: 4px;
            border-radius: 3px 3px 3px 3px;
            background-color: white;
            .box-shadow(0px,0px,4px,darken(@color1,30%));
        }
        
        span.category{
            border-radius: 3px 3px 3px 3px;
            background-color: orange;
            color: white;
            padding: 2px;
            font-size: 0.90em;
        }

        span.label {
            font-size: inherit;
            margin: 5px;
            font-weight: normal;

            span.label-abr{
                font-weight: bold;
            }
        }


        span.freetext {
            textarea {
                width: 97.5%;
            }
        }

        span.scaling{

            select {
                width: auto;
            }

            span {
                border-radius: 5px;
                background-color: yellow;
                box-shadow: inset 0 0 3px;
                color: #D57E0F;
                text-shadow: 0 0 2px orange;
                font-weight: bold padding: 2px;
                font-weight: bold;
                font-size: 0.90em;
                font-weight: bold;
                padding: 0px 2px 0px 2px;
                border: 2px solid orange;
                width: auto;
                display: inline-block;
                text-align: center;
            }
        }
        
        span.track{
            border-radius: 3px 3px 3px 3px;
            background-color: lighten(#005580,20%);
            color: white;
            padding: 3px;
            font-size: 0.90em;  
        }
        
        span.user{
            font-style: italic;
                font-weight: bold;
        }
        
        &.selected{
           background-color: darken(@color1, 40%); 
        }
    }

    i.add-comment {
      float: right;
    }
    .comments-container {
      border-radius: 4px 4px 4px 4px;
      background-color: rgb(199, 199, 199);
      margin: 2px;
      padding: 5px;
    }

    .comments-container.collapse {
      padding: 0px;
    }
    
    span.comments {
      color: white;
      padding: 2px;
      font-size: 0.90em;
    }
    i.delete-comment {
      float: right;
      margin-right: 5px;
      margin-left: 5px;
    }
    i.edit-comment {
      float: right;
      margin-right: 5px;
      margin-left: 5px;
    }

}

.collapse-comment i {
  float: left;
  margin-right: 5px;
  margin-left: 5px;
}
.collapse-comment {
  -webkit-transition: height 0.35s ease;
  -moz-transition: height 0.35s ease;
  -ms-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease;
  position: relative;
  overflow: hidden;
  height: 0;
}
.collapse-comment.in {
  height: auto;
}