
div#loop {
    h4 {
        font-size: 12px;
        padding: 2px;
        background-color: grey;
    }

    div.repeat, div.duration {
        float: left;
    }

    div.repeat {
        .after {
           margin-left: -5px;
        }
    }

    div.controls {
        label{
            float: left;
            color: white;
        }

        select#interval{
            float: left;
            width: 60px;
            margin-left: 20px;
            margin-bottom: 0px;
        }

        div.btn-group{
            float: right;
        }
    }

    &.disabled {
        div.slider, div.btn-group, #loop-length {
            visibility: hidden;
        }
    }

    label {
        margin-right: 20px;
    }

    #loop-length {
        margin-left: 5px;
    }

    padding: 5px 10px 10px 10px;
    color: white;
    overflow: visible;
}