
div#loop {
    h4 {
        font-size: 12px;
        padding: 2px;
        background-color: grey;
    }

    div.repeat, div.duration {
        float: left;
    }

    div.repeat {
        .after {
           margin-left: -5px;
        }
    }

    div.controls {
        margin-top: 4px;

        label{
            float: left;
            color: white;
        }

        select#interval{
            float: left;
            width: 60px;
            margin-left: 20px;
            margin-bottom: 0px;
        }

        div.btn-group{
            float: right;
            margin-top: -3px;
        }
    }

    &.disabled {
        div.slider, div.btn-group, #loop-length {
            visibility: hidden;
        }
    }

    label {
        padding-top : 0px;
        margin-right: 20px;
    }

    .slider {
        margin-top: -2px;
    }

    #loop-length {
        margin-left: 5px;
    }

    padding    : 5px 10px 10px 10px;
    color      : white;
    overflow   : visible;
}

div#timeline {
    div.loop {
        height: 21px;
        margin-top: -27px;
        background-color: lighten(green, 10%);
        opacity: 0.6;
        border: 1px solid black;
    }

    div.loop-group {
        height: 20px;
        background-color: grey;
        color: white;
        padding: 2px;
        font-weight: bold;
    }
}