#scale-editor {
  h3 .manage {
    line-height: 27px;
    float: right;
  }

  a {
    margin-bottom: 8px;
  }

  .modal-body {
    display: none;
  }

  .list-scale-values {
    div.scale-value:first-child a.order-up, div.scale-value:last-child a.order-down {
      visibility: hidden;
    }

    .error {
      color: red;
      font-weight: bold;
      border: 1px solid red;
    }
  }
}