<span class="item-abbreviation read-only">{{abbreviation}}</span>
<span class="item-value read-only">{{value}}</span>
<input class="item-abbreviation edit" type="text" value="{{abbreviation}}" {{#if notEdit}}disabled='disabled'{{/if}}/> 
<input class="item-value edit" type="text" value="{{value}}" {{#if notEdit}}disabled='disabled'{{/if}}/> 
<span class="item-icon">{{icon}}</span>
<i class="icon-trash delete edit"></i>
<ul class="scaling">
  {{#each scaleValues}}
  <li value="{{this.id}}">{{this.name}}</li>
  {{/each}}
</ul>

