<li class='tab-button'>
    <a href='#labelTab-{{id}}'>{{name}}
        <i class='icon-download import edit' title="Import" ></i>
        <input class="file" type="file" id="file-{{id}}">
        <i class='icon-upload export edit' title="export" ></i>
        <i class='icon-plus-sign add edit'></i>
</a></li>"