<span class="comments">Created: {{creationdate}} by {{creator}}{{#if updateddate}} - Modified: {{updateddate}} by {{updator}}{{/if}}</span>
<i class="delete-comment icon-trash" title="Delete comment"></i>
<i class="edit-comment icon-pencil" title="Edit comment"></i>
<span class="text">{{text}}</span>