<span class="comments header">Created: {{creationdate}} by <span class="username">{{creator}}</span>{{#if updateddate}} - Modified: {{updateddate}} by <span class="username">{{updator}}</span>{{/if}}</span>
{{#if canEdit}}
<i class="delete-comment icon-trash" title="Delete comment"></i>
<i class="edit-comment icon-pencil" title="Edit comment"></i>
{{/if}}
<span class="text">{{text}}</span>
