<i class="select icon-film"  id="{{id}}" href="#{{id}}" title="Move to this annotation"></i>
<span class="start"><input id="start-{{id}}" class="start-value" type="text" value="{{time start}}" disabled></input></span>
 {{#if duration}}
        - <span class="end"><input id="start-{{id}}" class="end-value" type="text" value="{{end start duration}}" disabled></input></span>
{{/if}}
{{#if isMine}}<i class="private icon-user" title="You own this annotation"></i>{{/if}}
<span class="category" {{#if label.category}}style="background-color:{{label.category.settings.color}}"{{/if}}>{{#if label}}{{label.category.name}}{{else}}Free text category{{/if}}</span>

{{#if isMine}}<i class="delete icon-trash" title="Delete  annotation"></i>{{/if}}

<a class="collapse" title="collapse">
 <i class="{{#if collapsed}}icon-chevron-right{{else}}icon-chevron-down{{/if}}"></i>
</a>

<div id="text-container{{id}}" class="{{#if collapsed}}out{{else}}in{{/if}}">
        <span class="text">
                {{#if scalevalue}}<span class="scaling">{{scalevalue.name}}</span>{{/if}} {{#if label}}<b>{{label.abbreviation}}</b>{{/if}} {{{text}}}
                {{#if created_by}}
                <p align="right">added by <span class="user">{{#if created_by_nickname}}{{created_by_nickname}}{{else}}{{nickname created_by}}{{/if}}</span> on <span class="track">{{track}}</span></p>
                {{/if}}
        </span>
</div>
<a href="#{{id}}" class="proxy-anchor"></a>
<!--<button id="stopduration">Stop duration</button>-->