<i class="select icon-film"  id="{{id}}" href="#{{id}}" title="Move to this annotation"></i>
<span class="start">{{time start}}</span>
 {{#if duration}}
        - <span class="duration">{{end start duration}}</span>
{{/if}}
<span class="category" {{#if label.category}}style="background-color:{{label.category.settings.color}}"{{/if}}>{{#if label}}{{label.category.name}}{{else}}Free text category{{/if}}</span>

<i class="delete icon-remove" title="Delete  annotation"></i>

<a class="collapse" title="collapse">
 <i class="{{#if collapsed}}icon-plus{{else}}icon-minus{{/if}}"></i>
</a>

<div id="text-container{{id}}" class="{{#if collapsed}}out{{else}}in{{/if}}">
        <span class="text">
                {{#if label}}<b>{{label.abbreviation}}</b>{{/if}}  {{text}}
                {{#if created_by}}
                <p align="right">added by <span class="user">{{#if created_by_nickname}}{{created_by_nickname}}{{else}}{{nickname created_by}}{{/if}}</span> on <span class="track">{{track}}</span></p>
                {{/if}}
        </span>
</div>
<a href="#{{id}}" class="proxy-anchor"></a>
<!--<button id="stopduration">Stop duration</button>-->