<i class="jump-to icon-film"  title="Move to this annotation"></i>
<span class="start">{{time start}}</span>
 {{#if duration}}
        - <span class="duration">Duration: {{end start start}}</span>
{{/if}}
<span class="category">Free text category</span>
<a class="collapse">collapse</a>

<i class="delete icon-remove" title="Delete  annotation"></i>
<div id="text-container{{id}}" class="{{#if collapsed}}collapse{{else}}in{{/if}}">
        <span class="text">
                {{text}}
                {{#if created_by}}
                <p align="right">created by {{nickname created_by}}</p>
                {{/if}}
        </span>
</div>
<!--<button id="stopduration">Stop duration</button>-->