<div class="window" id="loop">
    <div class="controls stop-fields">
        <label class="checkbox inline">
            <input id="enableLoop" type="checkbox" value="enable"> Loop
        </label>

        <input type="text" class="span2" id="slider" value="" 
                data-slider-orientation="horizontal" 
                data-slider-selection="after"
                data-slider-tooltip="show" />

        <span id="loop-length"></span>

        <div class="btn-group">
            <a class="btn previous" href="#"><i class="icon-chevron-left"></i></a>
            <a class="btn next" href="#"><i class="icon-chevron-right"></i></a>
      </div>
    </div>
</div>