<div class="window" id="loop">
    <div class="controls stop-fields">
        <label class="checkbox inline">
            <input id="enableLoop" type="checkbox" value="enable"> Loop
        </label>

        <select id="interval" class="input-small">
          <option value="5">5s</option>
          <option value="10">10s</option>
          <option value="30">30s</option>
          <option value="60">1m</option>
        </select>

        <!--<div class="slider">
        <input type="text" class="span2" id="interval2" value="" 
                data-slider-min="-20" 
                data-slider-max="20" 
                data-slider-step="1" 
                data-slider-value="-14" 
                data-slider-orientation="vertical" 
                data-slider-selection="after"
                data-slider-tooltip="hide">
        </div>-->

        <div class="btn-group">
            <a class="btn previous" href="#"><i class="icon-chevron-left"></i></a>
            <a class="btn next" href="#"><i class="icon-chevron-right"></i></a>
      </div>
    </div>
</div>