<div class="timeline-group{{#if isMine}} mine{{/if}} track-max-level-{{#if timlineMaxLevel}}{{timelineMaxLevel}}{{else}}0{{/if}}" {{#if isMine}}onclick="$(window).trigger('selectTrack', ['{{id}}'])" ondblclick="$(window).trigger('updateTrack', ['{{id}}'])"{{/if}}>
    <div class="track-id">{{id}}</div>
    <a id="track{{id}}"
       class="content-overlay"
       {{#if isMine}}onclick="$(window).trigger('selectTrack', ['{{id}}'])" ondblclick="$(window).trigger('updateTrack', ['{{id}}'])"{{/if}}
       title="{{secure name}}"
       rel="popover"
       data-content="<p>{{#if description}}{{secure description}}{{else}}No description{{/if}}</p> <p><b>Owner:</b> {{created_by_nickname}}</p>">
    {{#if isMine}}
        <i class="private icon-user" title="You own this track"></i>
    {{/if}}
        <div class="content">
            {{secure name}}
        </div>
    {{#if isMine}}
        <div class="group-edit">
            <i onclick="$(window).trigger('deleteTrack', ['{{id}}'])" class="delete icon-trash" title="Delete  track"></i>
            <i onclick="$(window).trigger('updateTrack', ['{{id}}'])" class="update  icon-pencil" title="Update  track"></i>
            <span class="visibility" onclick="$(window).trigger('updateTrackAccess', ['{{id}}'])" title="Make {{#if isPublic}}in{{/if}}visible to others"><i class="icon-eye-{{#if isPublic}}open{{else}}close{{/if}}"></i> {{#if isPublic}}Public{{else}}Private{{/if}}</span>
        </div>
    {{/if}}
    </a>
</div>
