<div class='item' style="margin-top:{{top}}">
    <span>{{text}}</span>
    <i class="delete icon-remove" title="Delete  annotation" onclick="$(window).trigger('deleteAnnotation', ['{{id}}','{{track}}'])"></i>
    <div class='annotation-id'>{{id}}</div>
    <div class='track-id'>{{track}}</div>
</div>