<div title="{{text}}" class="timeline-item {{#if atEnd}}at-end{{/if}} {{level}}" style="{{#if category.settings.color}};background-color: {{category.settings.color}}{{/if}}">
    <span>{{#if label}}<b>{{label.abbreviation}}</b>{{/if}} {{text}}</span>
    <i class="delete icon-remove" title="Delete  annotation" onclick="annotationsTool.dispatcher.trigger('deleteAnnotation', {{id}}, {{track}})"></i>
    <div class='annotation-id'>{{id}}</div>
    <div class='track-id'>{{track}}</div>
</div>