<div class="timeline-group{{#if isMine}} mine{{/if}}" {{#if isMine}}onclick="$(window).trigger('selectTrack', ['{{id}}'])"{{/if}}>
    <div class="track-id">{{id}}</div>
    {{#if isMine}}
    <i onclick="$(window).trigger('deleteTrack', ['{{id}}'])" class="delete icon-trash" title="Delete  track"></i>
    <i onclick="$(window).trigger('updateTrack', ['{{id}}'])" class="visibility icon-eye-{{#if isPublic}}open{{else}}close{{/if}}" title="Change track visibility"></i>
    <i class="private icon-user" title="You own this track"></i>
    {{/if}} 
    {{#if isMine}}
    <a id="track{{id}}" onclick="$(window).trigger('selectTrack', ['{{id}}'])">
    {{/if}} 
        <div class="content" title="{{name}}" rel="popover" data-content="{{#if description}}{{description}}{{else}}No description{{/if}}" data-original-title="{{name}}">{{name}}</div>
    {{#if isMine}}
    </a>
    {{/if}} 
</div>

